{{#each items}}
<div class ="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="https://images-na.ssl-images-amazon.com/images/I/71yb1lcAXFL.jpg"
                 alt="..." class="img-responsive">
            <div class="caption">
                <h3>{{this.title}}</h3>
                <p class="description">{{this.description}}</p>
                <div class="clearfix">
                    <div class="price">{{this.price}}</div>
                    <a href="#" class="btn btn-danger pull-right" role="button">Button</a>
                </div>
            </div>
        </div>
    </div>
{{/each}}
<!--    <div class="col-sm-6 col-md-4">-->
<!--        <div class="thumbnail">-->
<!--            <img src="https://images-na.ssl-images-amazon.com/images/I/71yb1lcAXFL.jpg"-->
<!--                 alt="..." class="img-responsive">-->
<!--            <div class="caption">-->
<!--                <h3>Board Game Name</h3>-->
<!--                <p class="description">Board Game Price</p>-->
<!--                <div class="clearfix">-->
<!--                    <div class="price">$12</div>-->
<!--                    <a href="#" class="btn btn-danger pull-right" role="button">Button</a>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

<!--    <div class="col-sm-6 col-md-4">-->
<!--        <div class="thumbnail">-->
<!--            <img src="https://images-na.ssl-images-amazon.com/images/I/71yb1lcAXFL.jpg"-->
<!--                 alt="..." class="img-responsive">-->
<!--            <div class="caption">-->
<!--                <h3>Board Game Name</h3>-->
<!--                <p class="description">Board Game Price</p>-->
<!--                <div class="clearfix">-->
<!--                    <div class="price">$12</div>-->
<!--                    <a href="#" class="btn btn-danger pull-right" role="button">Button</a>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<!--<div class ="row">-->
<!--    <div class="col-sm-6 col-md-4">-->
<!--        <div class="thumbnail">-->
<!--            <img src="https://images-na.ssl-images-amazon.com/images/I/71yb1lcAXFL.jpg"-->
<!--                 alt="..." class="img-responsive">-->
<!--            <div class="caption">-->
<!--                <h3>Board Game Name</h3>-->
<!--                <p class="description">Board Game Price</p>-->
<!--                <div class="clearfix">-->
<!--                    <div class="price">$12</div>-->
<!--                    <a href="#" class="btn btn-danger pull-right" role="button">Button</a>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

<!--    <div class="col-sm-6 col-md-4">-->
<!--        <div class="thumbnail">-->
<!--            <img src="https://images-na.ssl-images-amazon.com/images/I/71yb1lcAXFL.jpg"-->
<!--                 alt="..." class="img-responsive">-->
<!--            <div class="caption">-->
<!--                <h3>Board Game Name</h3>-->
<!--                <p class="description">Board Game Price</p>-->
<!--                <div class="clearfix">-->
<!--                    <div class="price">$12</div>-->
<!--                    <a href="#" class="btn btn-danger pull-right" role="button">Button</a>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

<!--    <div class="col-sm-6 col-md-4">-->
<!--        <div class="thumbnail">-->
<!--            <img src="https://images-na.ssl-images-amazon.com/images/I/71yb1lcAXFL.jpg"-->
<!--                 alt="..." class="img-responsive">-->
<!--            <div class="caption">-->
<!--                <h3>Board Game Name</h3>-->
<!--                <p class="description">Board Game Price</p>-->
<!--                <div class="clearfix">-->
<!--                    <div class="price">$12</div>-->
<!--                    <a href="#" class="btn btn-danger pull-right" role="button">Button</a>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<!--<div class="card" style="width:400px"><img class="card-img-top" src="" alt="Game image" style="width:100%" />-->
<!--    <div class="card-body">-->
<!--        <h4 class="card-title">Game Title</h4>-->
<!--        <p class="card-text">Game decription</p><a class="btn btn-primary" href="/cart">Remove From Cart</a><a class="btn btn-primary" href="/">Bac</a>-->
<!--    </div>-->
<!--</div>-->

<!--{{items}}-->

<!--extends templates/layout-->

<!--block content-->

<!--  p Welcome to #{title}-->
<!--  includes templates/layout-->
<!--  html-->
<!--    body-->
<!--    .card(style='width:400px')-->
<!--      img.card-img-top(src='', alt='Game image', style='width:100%')-->
<!--      .card-body-->
<!--        h4.card-title Game Title-->
<!--        p.card-text Game decription-->
<!--        a.btn.btn-primary(href='/cart') Remove From Cart-->
<!--        a.btn.btn-primary(href='/') Back-->