extends templates/layout

block content
    html
      body
          table
              for post in post
                  tr
                    td= post.description
                    td= post.title
                    a.btn.btn-primary(href='/products') More
                    a.btn.btn-primary(href='/cart') Add to Cart
