extends templates/layout

block content


    p Welcome to #{title}

    includes templates/layout
    html
        body
            br
            br
            #login_box.container.d-flex.justify-content-center
                #form_login.login-form.shadow.p-3.mb-5.bg-white.rounded

            div.text-center
                h1 Login
                form(action='./auth/login' method='POST')
                    div(class="form-group")
                        label(for='email') Email
                        input#email(type='text' class="form-control" name='email' required='')
                    div(class="form-group")
                        label(for='password') Password
                        input#password(type='password' class="form-control" name='password' required='')
                    button(type='submit' class='btn btn-primary') Submit
                    if message
                        .alert.alert-danger #{message}
                a(href='/login') Login



