<h1>Make a Post</h1>


<script>
    $(document).ready(function(){
        // call the searchfunction when button is clicked.
        $("#searchButton").on("click", function(){
            search()})
        // random words for start up
        var words = ["Risk","Monopoly","Scrabble","Clue","CandyLand","Chess","battleship",''];
        var ran= Math.floor(Math.random() * 7)
        $("#keyword").val(words[ran]);
        search();
        function search(){
            $.ajax({
                method: "GET",
                url: "https://api.boardgameatlas.com/api/search?order_by=popularity&ascending=false&client_id=0rymULWyC4&",
                dataType: "json",
                data: { "key":"9430267d3f695145f51c2c6b780f44fa", "q" : $("#keyword").val()},
                success: function(result,status) {

                    $("#images").html(`<img src= ' ${result.games[0].images.large}
  ' width ='110' height = '200' class = "pic">`);
                }

            });//ajax
        } // search()
    });  // document.ready

</script>


<body class="text-center"></body>
<div class="container1">
    <div>
        <div class="imagesearch"></div>
    </div>

    <label>Game Search:</label>
    <input id="keyword" type="text" value="{{image}}"/>

    <div>
        <button id="searchButton">Search</button>
    </div>
    <div id="frame" >
        <div class="frame" id="images" style="auto"></div>
    </div>
    </h1> </div>
<div class="card-body">
    <form action="/auth/post" method="POST">
        <div class="form-group">
            <label for="title">Post title:</label>
            <input id="title" type="text" name="title" placeholder="Product Name"/><br/><br/>
        </div>
        <div class="form-group">
            <label for="price">Product Price:</label>
            <input id="price" type="text" name="price" placeholder="Product Price"/><br/><br/>
        </div>
        <div class="form-group">
            <label for="description">Product Description:</label>
            <input id="description" type="text" name="description" placeholder="Product Description"/><br/><br/>
        </div>
        <div class="form-group">
            <label for="condition">Product Condition:</label>
            <input id="condition" type="text" name="condition" placeholder="condition"/><br/><br/>
        </div>
        <div class="form-group">
            <label for="shipping_price">Product shipping price:</label>
            <input id="shipping_price" type="text" name="shipping_price" placeholder="Shipping price"/><br/><br/>
        </div>
        <button class="button btn btn-success" type="submit">SUBMIT POST</button>
    </form>
</div>
{{#if bad }}
    <h4 class="alert alert-danger mt-4">{{message}}</h4>
{{/if}}
{{#if good }}
    <h4 class="alert alert-success mt-4">{{message}}</h4>
{{/if}}
</div>