extends templates/layout

block content
    includes templates/layout
    html
      body
      .card(style='width:400px')
        img.card-img-top(src='', alt='Game image', style='width:100%')
        .card-body
          h4. #title
          p. #description
          p. #condition
          p.#seller
          p.#listingID
          a.btn.btn-primary(href='/cart') Add to cart
          a.btn.btn-primary(href='/') Back

script.// figure out how to get listing id from previous link ??

//get image
  function fillImage (listing) {
  const image = document.getElementById("image");
  listing.forEach(listing => {
      image.innerHTML = listing.image;

     });
   }