extends templates/layout

block content

  
<<<<<<< HEAD

   body
    h1 Sign up!
    
    |   
    |   
    |   
    |   
    form
      label(for='Uname') User name:
      br
      |   
      input#fname(type='text', Uname='Uname')
      br
      |   
      label(for='Pw') Password:
      br
      |     
      button(type='button') Click Me!
=======
  p Welcome to #{title}

  includes templates/layout
  html
    body
      br
      br
      #login_box.container.d-flex.justify-content-center
        #form_login.login-form.shadow.p-3.mb-5.bg-white.rounded
          form
            h2.text-center Log in
            .form-group
              label(username) Username
              input.form-control(name='username', type='text')

            br

            .form-group
              label(password) Password

              input.form-control(name='password', type='password')

            br

            h2.text-center Log in
            .form-group
              label(email) Username
              input.form-control(name='email', type='email')

            br

            .form-group
              input.btn.btn-primary.btn-block(type='submit', value='Sign Up', formaction='/action/login')
>>>>>>> 5a6599b816d9d92558bda11f0f07d6e3fcf37b92
