<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</head>
<body style="padding-bottom:10rem;">
<div class="container"></div>
<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</body>
<div class="navbar-header">
    <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#navbar-inverse" aria-expanded="false" aria-controls="navbar"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a class="navbar-brand" href="/">Board Game Trading Post</a>
</div>
<div class="collapse navbar-collapse" id="navbar-inverse">
    <ul class="nav navbar-nav">
        <li class="active"><a href="/"> </a></li>
        <li><a href="/login">LOGIN</a></li>
        <li><a href="/register">REGISTER</a></li>
        <li><a href="/post">POST</a></li>
        <li><a href="/cart">CART</a></li>
        <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-expanded="false">SORT BY<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#">BY NAME</a></li>
                <li><a href="#">RECENT POST</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Nav header</li>
            </ul>
        </li>
    </ul>
</div>

<div class="container">
    {{{ body }}}
</div>
</html>

<!--html( lang="en" )-->
<!--    head-->

<!--        meta( charset='utf-8' )-->
<!--        meta( http-equiv='X-UA-Compatible', content='IE=edge' )-->
<!--        meta( name='viewport', content='width=device-width, initial-scale=1.0' )-->
<!--        meta( name='description', content='Baking Bootstrap Snippets with Jade' )-->

<!--        link(href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.0/flatly/bootstrap.min.css", rel="stylesheet")-->
<!--        link(rel='stylesheet', href='/stylesheets/style.css')-->

<!--    body(style="padding-bottom:10rem;")-->
<!--        .container-->
<!--        script(src="https://code.jquery.com/jquery-1.12.4.min.js"-->
<!--            integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="-->
<!--        crossorigin="anonymous")-->
<!--        script( src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js' )-->
<!--        script( src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js' )-->

<!--          nav.navbar.navbar-default( role="navigation" )-->
<!--    .navbar-header-->
<!--        button.navbar-toggle.collapsed( type="button", data-toggle="collapse", data-target="#navbar-inverse", aria-expanded="false", aria-controls="navbar")-->
<!--            span.sr-only Toggle navigation-->
<!--            span.icon-bar-->
<!--            span.icon-bar-->
<!--            span.icon-bar-->

<!--        a.navbar-brand(href="/") Board Game Trading Post-->

<!--    #navbar-inverse.collapse.navbar-collapse-->
<!--        ul.nav.navbar-nav-->
<!--            li.active: a( href="/")-->
<!--            li: a( href="/login" ) LOGIN-->
<!--            li: a( href="/register" ) REGISTER-->
<!--            li: a( href="post" ) POST-->
<!--            li: a( href="/cart" ) CART-->
<!--            li.dropdown-->
<!--                a.dropdown-toggle( href="#", data-toggle="dropdown", role="button", aria-expanded="false" ) SORT BY-->
<!--                    span.caret-->
<!--                ul.dropdown-menu( role="menu" )-->
<!--                    li: a( href="#" ) BY NAME-->
<!--                    li: a( href="#" ) RECENT POST-->
<!--                    li: a( href="#" ) Something else here-->
<!--                    li.divider-->
<!--                    li.dropdown-header Nav header-->



<!--        block content-->