body {
  background-color: lightblue;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

}
#navbar-inverse{
  background-color: #03254c;
}

a {
  color: #00B7FF;
}
.row{
  background-color: red;
<<<<<<< HEAD
}
.postContainer{
  display: flex;
  border: 5px solid black;
  border-radius: 5px;
  justify-content: space-around;
  background-color: white;
  padding: 50px;
  width: 300px;
  text-align: CENTER;
  margin: 0 auto;
}
.postContainer > form{
  text-align: left;
=======
>>>>>>> c29c1335ceba9c10675c5485a92b40f8832d0d9f
}