body {
  background-color: lightblue;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

}
#navbar-inverse{
  background-color: #03254c;
}

a {
  color: #00B7FF;
}

p {
  background-color: lightblue;
  padding: 50px;
  font: 11px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.postContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: white;
  padding: 50px;
  width: 300px;
  text-align: CENTER;
  margin: 0 auto;
}

/*.column {*/
/*  border-radius: 50px;*/
/*  display: center;*/
/*  flex-wrap: wrap;*/

/*  width: 50%;*/
 
/*  width: 200px;*/
/*  height: 150px;*/
/*  padding: 25px 120px 50px 10px;*/
 


.frame {
  display: center;
  flex-wrap: center;
  justify-content: space-around;
  
  
}
.container1 {
  display: flex;
  float: left;
  
}

.row{
  background-color: red;
}

.thumbnail img {
  max-height: 150px
}

.thumbnail .description {
  color: crimson;
}

.price {
  font-weight: bold;
  font-size: 16px;
}